In [ ]:
# Python Basics
# Introduction
# Guido Van Russom 1991
# Python is a interpreted, object oriented high level programming language
# Compiled- Code--> Compiler--> MLC -->Executed
# Interpreted- Code--> Interpreter--> Line-wise execution
# OOPs                                         POP
# based on classes, objects                    based on functions
# C++,Java,Python                               C , Pascal, Python
# Python is general purpose language that supports both OOPS and POP

In [ ]:
''' Variables-> a memory location which will store some values or information
    Syntax: varname=value or information
    = assignement operator-> to assign the value to a variable
    Literal-> the value or information that will be stored onto a variable

In [4]:
a=10
a
# a -> variable
# 10 -> literal

10

In [5]:
b='Hello' #b -> variable hello-> literal
b

'Hello'

In [6]:
print(a)

10

In [7]:
print(b)

Hello

In [ ]:
# duck typing-> automatically determining the type of variable

In [ ]:
# type()-> to check the type of value assigned to a variable

In [8]:
type(a)

int

In [9]:
type(b)

str

In [ ]:
# Rules for naming a variable
# 1. keywords cannot be used as variable names - def, class, True, False, import
# 2. variable name can start with a letter or an underscore'_' but never with a number
# 3. no special symbols except underscore would be allowed in variable names

In [10]:
def=100

SyntaxError: invalid syntax (<ipython-input-10-58f65e71a0cd>, line 1)

In [11]:
3x=234

SyntaxError: invalid syntax (<ipython-input-11-c3da92c4cca7>, line 1)

In [12]:
var1=100

In [13]:
_var1=1234

In [14]:
$var='hi'

SyntaxError: invalid syntax (<ipython-input-14-8744a5cfb5e4>, line 1)

In [15]:
&a=10

SyntaxError: invalid syntax (<ipython-input-15-d26a7a63f921>, line 1)

In [16]:
var_1='shreya'

In [17]:
var$1='utkarsh'

SyntaxError: invalid syntax (<ipython-input-17-ae1f7841a17d>, line 1)

In [19]:
# Python is case sensitive
a=100
A=200
print(a,A)

100 200

In [20]:
Print(a,A)

NameError: name 'Print' is not defined

In [ ]:
# Operators -> symbol which will perform some kind of operation
# Arithmetic operators-> +,-,*,/,%,**
# Assignment operators-> =, +=,-=,*=,/=
# Comparision operators-> ==,!=,>,<,>=,<=
# Logical operators-> and, or, not
    # and-> a and b, o/p True if both a and b are true
    # or-> a or b, o/p  True if any one of the statements is ytrue
    # not-> reverse the result, if True returns false if false returns true
# Bitwise operators-> &,|,^,~,<<,>>

In [26]:
x=5
x

5

In [27]:
x+=5
#x=x+5
#x=x-5
#x=x*5
#x=x/5

In [28]:
x

10

In [ ]:
#a b-> a&b  a|b  a^b  ~a  ~b 
 0 0-> 0    0     0    1   1
 0 1-> 0    1     1    1   0
 1 0-> 0    1     1    0   1
 1 1-> 1    1     0    0   0

In [ ]:
# Left shift
a=5=  0101
a<<1
1010

# Right shift
a=5
a>>1
0010

In [ ]:
# Assigning values to a variable
# Static way-> information is assigned manually while typing th eprogram
v='Azhar'
# Dynamic way-> information will be assigned to the varaible during run time of program
# Syntax: varname=input()
# input()-> inbuilt function whcih will fetch the inputs from the user dynamically

In [6]:
v1=input('enter a number')

enter a number12.3

In [7]:
v1

'12.3'

In [8]:
type(v1)

str

In [ ]:
# Type casting -> process of converting one data format to other
# str->int
# Syntax= varname=int(input())

# str-> float
# Syntax= varname=float(input())

In [12]:
v2=int(input('enter a number'))

enter a numbershreya

ValueError: invalid literal for int() with base 10: 'shreya'

In [10]:
v2

100

In [11]:
type(v2)

int

In [15]:
v3=float(input('enter a number'))

enter a number 23.4

In [18]:
v3
v4='s'
type(v4)

str

In [20]:
# Data type--> types of data the variable has been assigned with
# Basic datatypes-> int(10), float(12.3),char('s')/str('shreya'),bool(True=1,False=0)
a=100
b=123.34
c='s'
d='Intellipaat'
e=True # 1
f=False # 0
g=e*f # 1+0=1
print(g)

0

In [ ]:
# Collective datatypes-> collection of values or information
# Mutable-> information or value can be altered or changed after declaration-> List, Dictionary, Set
# Immutable-> information or value cannot be altered after declaration-> Strings, Tuples

In [21]:
# Strings-> collection of characters
# Syntax: varname='value' or "value"
s1="Hello"  #-> 'Hallo'
s2='Hi'
print(s1,s2)

Hello Hi

In [22]:
type(s1)

str

In [ ]:
# Indexing and Slicing
# Index-> positional value of an element inside a collection
# Indexing-> the process of extracting or accessing an individual element from a collection
# SYntax: varname[index_value]
# TYPES-> Forward/Regular-> start with 0 (left to right)
#      -> Reverse/Negative-> start with -1 (right to left)
# Slicing-> the  process of extracting or accessing multiple elements from a collection
# SYntax: varname[start:end+1]

In [23]:
s="Intellipaat"

In [ ]:
# len()-> number of elements in a collective datatype

In [24]:
len(s)

11

In [ ]:
#  0    1    2    3    4    5    6    7    8    9    10 -> Forward indexing  
#  I    N    T    E    L    L    I    P    A    A    T
# -11  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1  <- Reverse indexing

In [38]:
s[3]

'e'

In [37]:
s[3]='a'

TypeError: 'str' object does not support item assignment

In [28]:
s[0:5]

'Intel'

In [33]:
s[-11:-6]

'Intel'

In [34]:
s[0:-6]

'Intel'

In [35]:
s[-11:5]

'Intel'

In [29]:
s[7:11]

'paat'

In [30]:
s[:]

'Intellipaat'

In [31]:
s[:5]

'Intel'

In [32]:
s[7:]

'paat'

In [ ]:
# Tuples-> set of heterogenous elements (different data types)
# Syntax: varname=(elements)

In [31]:
t1=(1,2,3,'python',23.4,True,False,'diversity',(22,32,42),[13,14,15])

In [79]:
t1[9][1]=20

In [50]:
type(t1)

tuple

In [51]:
len(t1)

9

In [44]:
t1[3]

'python'

In [48]:
t1[3][2]

't'

In [43]:
t1[3]='java'

TypeError: 'tuple' object does not support item assignment

In [46]:
t1[1:-2]

(2, 3, 'python', 23.4, True)

In [47]:
t1[1:6]

(2, 3, 'python', 23.4, True)

In [52]:
t1[8]

(22, 32, 42)

In [53]:
t1[8][2]

42

In [ ]:
# List-> set of heterogenous elements
# SYntax: varname=[elements]

In [1]:
l1=[1,2,3,'python',23.4,True,False,'diversity',(22,32,42)]

In [60]:
type(l1)

list

In [61]:
l1[3]

'python'

In [62]:
l1[3]='java'

In [63]:
l1

[1, 2, 3, 'java', 23.4, True, False, 'diversity', (22, 32, 42)]

In [64]:
l1[3:8]

['java', 23.4, True, False, 'diversity']

In [67]:
l1[3]

'java'

In [68]:
l1[3][1]='i'

TypeError: 'str' object does not support item assignment

In [72]:
l1[8]=('a','b','c')

In [74]:
l1[8][1]='s'

TypeError: 'tuple' object does not support item assignment

In [18]:
l1=[1,2,3,'python',23.4,True,False,'diversity',(22,32,42)]
len(l1)

9

In [20]:
# To add elements into the list
# append()-> listname.append(value)
# insert()-> listname.insert(index,value)
#l1=[1,2,3,'python',23.4,True,False,'diversity',(22,32,42)]
l1.append(100)
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', (22, 32, 42), 100, 100]

In [13]:
#l1=[1,2,3,'python',23.4,True,False,'diversity',(22,32,42)]
l1.insert(3,'java')
l1

[1, 2, 3, 'java', 'python', 23.4, True, False, 'diversity', (22, 32, 42), 100]

In [ ]:
# To remove elements from teh list
# pop()-> listname.pop(index)
# remove()-> listname.remove(value)

In [25]:
l1.pop(-2)

(22, 32, 42)

In [26]:
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', 100]

In [24]:
l1.remove(150)

ValueError: list.remove(x): x not in list

In [27]:
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', 100]

In [28]:
l1=[1,2,3,'python',23.4,True,False,'diversity',(22,32,42)]

In [29]:
l2=['shreya','vishwas','deepa','neeraj']

In [30]:
l1+l2

[1,
 2,
 3,
 'python',
 23.4,
 True,
 False,
 'diversity',
 (22, 32, 42),
 'shreya',
 'vishwas',
 'deepa',
 'neeraj']

In [ ]:
# Dictionary-> set of heterogenous elements, store the elements in a key:value pair
# key-> user-defined index
# value-> elements
# SYntax: varname={ key1:value1,key2:value2,...........,key n :value n}
# no proper order of elements is maintained

In [44]:
d1={1:'Arjun','Shreya':'Intellipaat',13.4:2000,False:3000}
d1

{1: 'Arjun', 'Shreya': 'Intellipaat', 13.4: 2000, False: 3000}

In [45]:
type(d1)

dict

In [90]:
d2={'names':['Aditya','Shreya','Akash','Mahesh'],'post':('Intern','Employee','Manager','Asst manager')}

In [53]:
d2

{'names': ['Aditya', 'Shreya', 'Akash', 'Mahesh'],
 'post': ('Intern', 'Employee', 'Manager', 'Asst manager')}

In [54]:
d1.keys()

dict_keys([1, 'Shreya', 13.4, False])

In [55]:
d2.keys()

dict_keys(['names', 'post'])

In [56]:
d1.values()

dict_values(['Arjun', 'Intellipaat', 2000, 3000])

In [57]:
d2.values()

dict_values([['Aditya', 'Shreya', 'Akash', 'Mahesh'], ('Intern', 'Employee', 'Manager', 'Asst manager')])

In [58]:
d1[1]

'Arjun'

In [84]:
d2['names']=['Aditya','Manal','Akash',"Mahesh"]

In [85]:
d2['post']=('Intern','TL','Manager','Asst Manager')

In [86]:
d2

{'names': ['Aditya', 'Manal', 'Akash', 'Mahesh'],
 'post': ('Intern', 'TL', 'Manager', 'Asst Manager')}

In [99]:
# adding a new key:value into a dictionary
d2['salary']=[25,50,100,75]

In [69]:
d2

{'names': ['Aditya', 'Manal', 'Akash', 'Mahesh'],
 'post': ('Intern', 'TL', 'Manager', 'Asst Manager'),
 'salary': [25, 50, 100, 75]}

In [70]:
# remove  a value from a dict
d2.pop('salary')

[25, 50, 100, 75]

In [161]:
del d2['names']

In [160]:
d2={'names':['Aditya','Shreya','Akash','Mahesh'],'post':('Intern','Employee','Manager','Asst manager')}

In [162]:
d2

{'post': ('Intern', 'Employee', 'Manager', 'Asst manager')}

In [107]:
d3=d2.popitem()

KeyError: 'popitem(): dictionary is empty'

In [111]:
d3

('salary', [25, 50, 100, 75])

In [110]:
print(type(d3))

<class 'tuple'>

In [103]:
d4=d2.popitem()

In [104]:
d4

('post', ('Intern', 'Employee', 'Manager', 'Asst manager'))

In [105]:
d5=d2.popitem()

In [106]:
d5

('names', ['Aditya', 'Shreya', 'Akash', 'Mahesh'])

In [108]:
d2

{}

In [ ]:
# Set-> unordered, unindexed list of unique elements
# Syntax: varname={elements}

In [126]:
s1={1,False,True,0,1,2,3,4,5,'python',86.7,99.9,'python',99.9,True,False,0}

In [127]:
type(s1)

set

In [128]:
s1

{1, 2, 3, 4, 5, 86.7, 99.9, False, 'python'}

In [136]:
s1.add('Aditya')

In [137]:
s1

{1, 2, 3, 4, 5, 86.7, 99.9, 'Aditya', False, 'python'}

In [138]:
s1.remove('Aditya')

In [139]:
s1

{1, 2, 3, 4, 5, 86.7, 99.9, False, 'python'}

In [ ]:
# Conditional Statements-> Statement executed based on a condition evaluated
# Statements that are used to evaluate a condition to true or false
# Types
# simple if
# if else
# multiple ifs
# if elif else
# nested if else

In [ ]:
# simple if
# Syntax: if(condition):
           #statement

In [146]:
x=int(input())          # x=5
if(x>1):                # x>1=> 5>1= True             
    print('x is greater than 1')

0

In [ ]:
# if else
# Syntax: if(condition):
             # statements
    #     else:
             # statements

In [151]:
# Check for the greater num
a=int(input())        # a=20
b=int(input())        # b=30
if(a>b):             # a>b=> 20>30= False
    print('a is greater',a)
else:
    print('b is greater',b)

20
30
b is greater 30

In [ ]:
# multiple if
# SYntax: if(condition1):
#               statements
#         if(conidtion2):
#               statements
#         if(condition3):
#             statements
#         else:
#             statements

In [158]:
a=int(input())        # a=30
b=int(input())        # b=20
if(a>b):             # a>b=> 30>20= True
    print('a is greater',a)
if(b>a):             # 20>30= False
    print('b is greater',b)
if(a==b):            # 30==20=False
    print('both are equal')
else:
    print('invalid input')

20
30
b is greater 30
invalid input

In [ ]:
# if elif else-> 
# elif-> combination of else if
# Syntax: if(condition1):
#              task1
#         elif(condition2):
#              task2
#         elif(condition3):
#              task3 
#         else:
#              task4

In [1]:
a=int(input())        # a=23
b=int(input())        # b=34
if(a>b):             # a>b=> 23>34= false
    print('a is greater',a)
elif(b>a):             # 34>23= True
    print('b is greater',b)
elif(a==b):            # 30==20=False
    print('both are equal')
else:
    print('invalid input')

23
34
b is greater 34

In [ ]:
# nested if else-> conditions within conditions
# Syntax: if(condition1):
#             if(condition2):   
#                  task2
#             else:
#                  task3
#         else:
#             task4

In [5]:
# check whether a num is 0, positive, negative
num=int(input('enter a number'))
if(num>=0):
    if(num==0):
        print('the number is zero')
    else:
        print('the number is positive')
else:
    print('the number negative')

enter a number 0
the number is zero

In [ ]:
n1=int(input('enter the first number'))
n2=int(input('enter the second number'))
n3=int(input('enter the third number'))
if(n1>n2):
    if(n1>n3):
        print(n1,'is greatest')
    elif(n1<n3):
        print(n3, 'is greatest')
elif(n1<n2):
    if(n2>n3):
        print(n2,' is greatest')
    elif(n2<n3):
        print(n3, 'is greatest')
else:
    print('all are equal')

In [8]:
a=int(input("enter no.1:\n"))
b=int(input("enter no.2:\n"))
c=int(input("enter no.3:\n"))
if(a>b):
    if(a>c):
        print(a," is the greatest")
    elif(c>a):
        print(c," is the greatest")
    else:
        print(a," is the greatest")
elif (b>a):
    if(b>c):
        print(b," is the greatest")
    elif(c>a):
        print(c," is the greatest")
elif(a==b==c):
    print(a,'all are equal')        
elif(a==b):
    if(a>c):
        print(a," is the greatest")
    else:
        print(c," is the greatest")
elif(b==c):
    if(a>c):
        print(a," is the greatest")
    else:
        print(c," is the greatest")
elif(a==c):
    if(b>c):
        print(b," is the greatest")
    else:
        print(c," is the greatest")

else:
    print("all are equal")

enter no.1:
30
enter no.2:
21
enter no.3:
12
30  is the greatest

In [11]:
n1=int(input('enter the first number'))
n2=int(input('enter the second number'))
n3=int(input('enter the third number'))
if(n1>=n2) and (n1>=n3):
    print('n1 is the greatest')
elif(n2>=n1) and (n2>=n3):
    print('n2 is greatest')
elif(n1==n2==n3):
    print('all are equal')
else:
    print('n3 is greatest')

enter the first number12
enter the second number12
enter the third number12
n1 is the greatest

In [ ]:
# Looping Statements-> Statements that will allow to perform same set of task multiple number of times 
# based on a condition
# for loop-> tyo work with range type of data
# while-> to work with the conditional data

In [18]:
# for loop:
# SYntax: for iterating_var in range:
              # task/statements
# iterating_var-> travelling variable which will look into the defined range and 
# fetches every value in the range
# range()-> inbuilt function which will create a range of defined values
   # Syntax: range(start,end+1,interval)
range(0,11,2)  # 0,1,2,3,4,5,6,7,8,9,10  
range(11)

range(0, 11)

In [16]:
# print 'python' 5 times
for i in range(0,5):  # 0 1 2 3 4    # i=5
    print('python',i)

python 0
python 1
python 2
python 3
python 4

In [17]:
# to add 7 to each element in a given list
l1=[10,20,30,40,50,60]
 #  0  1  2  3  4  5
len(l1)

6

In [24]:
l1=[10,20,30,40,50,60,70,80,90,100,110]
for x in range(0,10,3):  # 0 1 2 3 4 5  x=1
    l1[x]=l1[x]+7         # l1[1]=l1[1]+7-> 20+7=27=l1[1]
print(l1)

[17, 20, 30, 47, 50, 60, 77, 80, 90, 107, 110]

In [ ]:
# while loop
# Syntax: 
# iterate_var=initialize
# while(condition is true):
#     task/statements
#     incrementation

In [31]:
# print python 5 times
i=0
while(i<5):
    print('python',i)
    i+=1

python 0
python 1
python 2
python 3
python 4

In [32]:
l1=[10,20,30,40,50,60]
x=0
while(x<len(l1)):
    l1[x]+=7
    x=x+1
print(l1)

[17, 27, 37, 47, 57, 67]

In [ ]:
# Functions-> block of code designed to perform a specific task
# Inbuilt functions-> pre-defined set of task to perform-> print(), range(),len(),input(),int()
# Lambda function

In [ ]:
# User-defined functions-> to create or define own set of task
# Syntax: to define function
# def function_name(arguments):
#        task/statements

# to call/invoke function
# function_name(value for arguments)

In [37]:
# check whether a given number is even or odd
def even_odd():
    num=int(input())
    if(num%2==0):
        print('number is even')
    else:
        print('number is odd')
even_odd()

23
number is odd

In [42]:
# to calculate the factorial of a number
def factorial(num): # num=5
    if num<0:       # 5<0-> false
        return 0
    elif num==0 or num==1:  # 5==0 or 5==1  -> false
        return 1
    else:
        fact=1  
        while(num>1):       # 1>1=false
            fact=fact*num   # 60*2=120=fact
            num=num-1       # 2-1=1=num
        return fact  
factorial(5)    
# 5*4*3*2*1

120

In [43]:
# return statement-> used to exit from a function and go back to the function caller and return a specified value or 
# data to the caller
# it can contain a varaiable, an expression, a value which is to be returned toward the 
# end of function execution
# infinite number of arguments-> *args-> non keywords
#                                **kwargs-> keyword arguments

In [ ]:
# lambda function-> anonymous/nameless function 
# function definition is stored in a variable
# function call is made using the variable name
# only line of expression is allowed
# keyword lambda is used

In [ ]:
# Syntax: var_name=lambda arg_variables:task

In [45]:
adder=lambda a,b,c:a+b+c
adder(1,2,3)

6

In [46]:
square=lambda x:x*x
square(10)

100

In [56]:
fact= lambda num:1 if num==0 else num*fact(num-1)
fact(5)

120